[2019-07-18 02:50] aloysbaillet opened #5 "AZP: Incorrect password for Docker login"
Hi @tykeal
Looks like the credentials are not correct in the Azure project settings:
https://dev.azure.com/academysoftwarefoundation/Academy%20Software%20Foundation/_build/results?buildId=203&view=results

[code]

Here's a successful build with my own project: https://dev.azure.com/aloysbaillet/ASWF/_build/results?buildId=206&view=results

[2019-07-29 21:16] aloysbaillet commented on #5
I've logged the issue there as well: https://jira.linuxfoundation.org/servicedesk/customer/portal/2/IT-16960

[2019-08-19 10:58] aloysbaillet commented on #5
The issue has been reported fixed by @tykeal so once fully tested I'll close the issue.

[2019-08-19 20:57] #5 closed

[2019-09-08 06:56] aloysbaillet opened #13 "Yum broken in most ci images"
The python install needs to avoid overriding the system python. Ideally we would leave the default python being the custom built one, and provide a customised "yum" script that reverts to the system python so it stays transparent for build scripts.

[code]

[2019-09-10 21:28] #13 closed

[2019-12-20 01:00] bcipriano opened #20 "Create CY2020 images for ci-opencue"
We're trying to create CY2020 images for `ci-opencue` so we can start to run tests against it.

https://github.com/AcademySoftwareFoundation/OpenCue/pull/587

- I would file this in Jira as the README suggests, but I don't think I have an account there? OpenCue doesn't use Jira, and it doesn't look like it's using the ASWF Auth0 system.
- I think we can start with an `aswftesting` image, but I wou

[2019-12-21 09:01] #20 closed

[2019-12-22 10:00] aloysbaillet commented on #20
`aswf/ci-opencue:2020` should be available as well now.

[2020-02-03 08:02] jfpanisset opened #23 "Versioning ASWF containers and release tags"
As per the discussion on [PR 22](https://github.com/AcademySoftwareFoundation/aswf-docker/pull/22), it might make sense to leverage the GitHub version tagging mechanism so we could relate the version of the code in this repo with the Docker Hub container tags.

To answer a specific question that came up in the initial discussion:

* Would you agree tags should be added directly on master at releas

[2020-02-17 21:26] jfpanisset opened #27 "Refactoring replicated build scripts?"
For some tools like ccache and cmake, it looks like there are two different installs involved (and I'm probably getting details wrong, just started looking into this):

- a global install in /opt/aswfbuilder which (I think) is used to build the infrastructure for building the ASWF containers, and which uses hard coded versions
- a per-container install in /usr/local which is versioned based on the

[2020-02-22 05:05] aloysbaillet opened #29 "Missing overview on dockerhub"
It would be great to have a README.md file for each docker image which would be uploaded to https://hub.docker.com/r/aswf/ so that the overview would give some information about the images.

E.g. ideally the https://hub.docker.com/r/aswf/ci-openexr would describe the fact that this image *does not* contain OpenEXR itself as it is used *by* the OpenEXR project to run CI, it contains all OpenEXR ups

[2020-02-25 15:28] mridullpandey commented on #29
hi @aloysbaillet  i want to work on it over
can i?

[2020-02-26 05:32] aloysbaillet commented on #29
Sure why not! I'll try to describe what could be done in more details of you want? Or have you got ideas already?

[2020-02-26 13:36] mridullpandey commented on #29
@aloysbaillet yes please ,its very sweet of you🙏.

[2020-03-02 11:26] aloysbaillet opened #30 "Update to latest git version"
GitHub checkout@v2 action requires a more recent version of `git` than the one available in the default CentOS-7 repo, would be good to update to git-2.22 in the ci-common image, maybe using the wandisco repo? https://stackoverflow.com/questions/21820715/how-to-install-latest-version-of-git-on-centos-7-x-6-x has an easy solution...

[2020-03-08 06:23] aloysbaillet commented on #29
I've added more details on the issue description @mridullpandey please let me know if you would need more?

[2020-03-17 12:35] mukul-mehta commented on #30
Could I work on this issue?

[2020-03-18 11:45] aloysbaillet commented on #30
Sure! Let me know if my very short description of the problem is enough?

[2020-03-25 17:16] codinggosu commented on #29
Is anyone still working on this issue?

[2020-03-28 16:29] codinggosu commented on #29
If not can I work on this issue?

[2020-03-28 21:14] aloysbaillet commented on #29
Hi @codinggosu , I'm not sure if @mridullpandey has started doing anything, but the issue seems wide enough that I don't mind if you want to also start. Maybe you could research a bit the problem and reply with a short proposal of how to solve it? Also don't hesitate to ask more questions!

[2020-04-15 23:16] aloysbaillet opened #34 "Ninja needs to be built from source"
@lgritz reported that ninja is not functioning in the aswf docker images:

[code]

Looks like it now needs to be built from source.

[2020-04-17 21:44] #34 closed

[2020-04-26 17:14] michdolan opened #41 "Missing aswf/ci-ocio:2020 images in DockerHub"
OCIO `master` now has Python 3 support, but in updating our CI (we moved to GH Actions) I noticed there are no `aswf/ci-ocio:2020` images available in DockerHub. I dug through this repo trying to identify where this could be resolved, but it seems like it should be supported already? Thanks for any insight!

[2020-04-26 17:52] michdolan opened #42 "Upgrade to openjpeg2-devel"
Current `aswf-docker` builds have OpenJpeg 1.5, which will likely be deprecated from OIIO support soon. I suggest upgrading to v2 with the `openjpeg2-devel` yum package in this script:

`https://github.com/AcademySoftwareFoundation/aswf-docker/blob/master/scripts/common/install_yumpackages.sh`

We encountered an issue with this in OCIO CI while treating warnings as errors, since v1.5 raises a warn

[2020-04-26 21:47] michdolan opened #43 "GLEW CMake config error in 2020 images"
While moving OCIO CI to GH Actions I encountered a linking error with the GLEW install in the `aswf/ci-base:2020` images. When configuring a build with CMake within this container, GLEW is found through the default FindGLEW.cmake module with the following output:

`-- Found GLEW: /usr/local/lib64/cmake/glew/glew-config.cmake`

In the `aswf/ci-base:2019` the same configure step finds GLEW at:

`--

[2020-04-26 23:53] aloysbaillet commented on #41
Indeed the PR to add these missing images was merged yesterday, but rebuilding all the packages takes a long time on my home machine... All 2020 images are now published as of a few minutes ago though, so things should be OK now!

[2020-04-26 23:53] #41 closed

[2020-04-27 03:38] michdolan commented on #41
Ah, thank you very much @aloysbaillet ! I see them there now. Much appreciated!

[2020-04-27 04:41] aloysbaillet commented on #42
Unfortunately or fortunately the vfxplatform doesn't say which jpeg library should be used... If it's OK to have `libjpeg-devel` `openjpeg-devel` and `openjpeg2-devel` all installed side by side that should be a trivial change.

[2020-04-27 04:43] aloysbaillet commented on #43
Would you be able to check if this problem still exists with the new 2020 images I've released today? They have changed quite a bit...

[2020-04-27 13:35] michdolan commented on #43
It exists in `aswf/ocio-ci:2020` (which is the same digest as `2020.3` correct?). I used the above mentioned workaround to resolve it.

[2020-04-27 13:37] michdolan commented on #42
That would work well. OIIO's OpenJpeg find module will use the newer version if both are present, so that sounds great. Thanks!

[2020-04-30 21:57] #42 closed

[2020-05-05 07:35] aloysbaillet opened #49 "Move to GitHub Actions"
Once GitHub Actions gain support for yaml templates as needed by this repo, we should be able to move from Azure to GHA.

[2020-05-15 16:15] Idclip opened #50 "cppunit missing from vfxall"
Not sure if this is intentional or not, but `cppunit` is being brought in but not copied in the ci-vfxall dockerfile.

[2020-05-16 11:06] aloysbaillet commented on #50
Thanks Nick, well spoted! I'll fix that one right away...

[2020-05-16 22:03] #50 closed

[2020-05-19 10:42] aloysbaillet opened #52 "Update image labels to new OCI annotations"
This newer OCI annotation spec: https://github.com/opencontainers/image-spec/blob/master/annotations.md supersedes the current "LABEL org.label-schema" that current CI images use.
This should be a fairly simple change.

[2020-05-19 11:15] aloysbaillet commented on #23
At the moment a single commit on master can potentially spawn around 83 individually versioned docker images (as seen here: https://github.com/AcademySoftwareFoundation/aswf-docker/blob/cf8c55740f87a3da0b0c1d356e4a9e46795870f3/python/aswfdocker/constants.py#L16 ).
I've just tested the manual creation of a release (https://github.com/AcademySoftwareFoundation/aswf-docker/releases/tag/ci-common-1.4)

[2020-05-31 17:54] mileslauridsen opened #54 "OIIO missing OCIO binding and OCIO missing tools from source install"
I may be misunderstanding how to use these images, but when checking inside aswftesting/ci-vfxall image there are a couple of incomplete pieces relating to OCIO. The same issues noted blow are also true in aswf/ci-ocio as well.

Docker image was installed with:
`docker pull aswftesting/ci-vfxall`

From OCIO installation docs, https://opencolorio.org/installation.html, i'd expect to find these in /

[2020-05-31 21:35] mileslauridsen commented on #54
Digging in a little further, importing OIIO in python requires some PYTHONPATH adjustment:
`PYTHONPATH=/usr/local/lib64/python3.7/site-packages:$PYTHONPATH`

[2020-06-01 13:10] aloysbaillet commented on #54
Thanks for the report @mileslauridsen .
Not sure why these tools would not be installed, I should be able to have a look soon. Happy for you to propose a PR to fix the cmake command for oiio as well!

[2020-06-11 16:32] mileslauridsen commented on #54
@aloysbaillet working through this it looks like the order of building in the packages is for oiio first, then ocio. The APP builds in the cmake commands for OCIO are turned OFF in build_ocio.sh. I've made a few changes to build OIIO first to generate the libraries that OCIO needs as dependencies, but then building OIIO again with OCIO libraries as a dependency and then copying the results into th

[2020-06-12 02:17] #23 closed

[2020-06-12 02:17] #49 closed

[2020-06-12 02:17] #52 closed

[2020-06-12 02:22] aloysbaillet commented on #54
Thanks Miles!
I was going to also start looking, so it's good to know you are on this, happy for you to create a draft PR that we can work on together if you want?

[2020-06-12 04:22] mileslauridsen commented on #54
Sounds great, let me clean this up and I'll put in a PR.

For some reason in the copy_new_files.sh the '--exclude' flag was preventing copying over the OIIO files. I commented that out, rebuilt all the packages from python down to oiio, and everything i was looking for related to oiio linking is working. Only issue is quite a large docker image size for the ci-ocio image, 11.5 GB.

[2020-06-12 05:10] mileslauridsen commented on #54
PR in, let me know what you think.
https://github.com/AcademySoftwareFoundation/aswf-docker/pull/57

[2020-06-20 18:02] jfpanisset commented on #30
Should this issue be marked as resolved now that PR #59 brings in git 2.18?

[2020-06-21 04:49] #30 closed

[2020-07-27 19:05] adamlichtl opened #63 "Bump CUDA version to 11 for compatibility with gcc 9.x?"
CUDA 11 has been released, and is compatible with devtoolset-9. There is currently logic to (correctly) disable CUDA 10.2 when gcc 9.x is present (see 67240b9610649b61d77fdfdfbb2b46fdda5fa3d6). Does it make sense to roll the CUDA version to 11 in the 2021 config?

[2020-07-27 22:58] aloysbaillet commented on #63
Hi @adamlichtl indeed I'm planning to update as soon as the nvidia docker images get released: https://hub.docker.com/r/nvidia/cudagl/tags
Not sure what the ETA is for these though.

[2020-07-28 01:07] meshula opened #64 "opentimelineio"
It would be great to have an image for OpenTimelineIO as well! @aloysbaillet I'm working on streamlining the cmake build for OTIO, if any accommodations are necessary for a docker image, now would be an opportune moment to work that in.

[2020-07-28 10:47] aloysbaillet commented on #64
Hi @meshula, that should be quite simple to do.
Just to double check, could you confirm you would mostly need PySide-2 (either Qt 5.6 or 5.12) and the following python packages already pre-installed: pyaaf2, flake8, coverage, tox and urllib3?

[2020-07-28 16:48] meshula commented on #64
That's correct!

[2020-08-02 06:22] #64 closed

[2020-08-20 04:17] jfpanisset commented on #43
I can confirm that this also an issue with the `aswf/ci-ocio:2021` Docker image. With the following test `CMakeLists.txt`:

[code]

you get:

[code]

but if you remove `/usr/local/lib64/cmake/glew/glew-config.cmake` from the container, instead:

[code]

which allows the OpenGL apps and test suite to link correctly (not finding GLEW_INCLUDE_DIRS is not a problem since -I/usr/local/include presumabl

[2020-08-20 12:40] hodoulp commented on #54
There is a cyclic dependency between OCIO and OIIO i.e. command line tools need both libraries. The right build steps are:

1. build OIIO without tools and install
2. build OCIO and install
3. Regenerate the OIIO makefiles (to discover the installed OCIO), build OIIO with tools and install

So, if you want to install packages (using a package manager like brew, yum, etc.) then the question is to k

[2020-08-20 14:44] hodoulp commented on #43
Here is the code of [glew-config.cmake](https://github.com/nigels-com/glew/blob/e544f8c12d209618fd69bccd3c4414893c142ba7/build/cmake/glew-config.cmake) which does not create the 'usual' variables. It only defines `GLEW::GLEW`.

Here is the cmake [issue 19662](https://gitlab.kitware.com/cmake/cmake/-/issues/19662) (fixed) related to GLEW to enhance the variables to have the missing GLEW_LIBRARIES a

[2020-08-21 03:46] aloysbaillet commented on #43
Thanks @hodoulp ! Do you think we should apply this patch in the docker images? I'm OK either way.

[2020-08-26 06:20] lgritz opened #69 "Add OptiX to ci-osl container"
Please?

[2020-08-26 17:20] darkvertex opened #70 "What about Windows containers?"
Hey guys,

First of all let me say to anyone involved that you've done an amazing job with these containers and tagging them very well. Kudos! :)

I was wondering if there has been thoughts about providing Windows10 containers for the VFX Platform?

Has anyone started or tried already?

[2020-08-29 06:42] aloysbaillet commented on #69
Hi @lgritz, the big issue I see is that Optix needs a NVidia login to be able to be downloaded...
[code]
So far all the ASWF docker images can be built by GitHub actions when releasing them, and we would need some secret token to download Optix in that context, but this would need to be cleared by NVidia first. Maybe that's something you could bring up at the next TAC?

[2020-08-29 06:44] aloysbaillet commented on #63
The main cuda docker images are now available for cuda-11, but the `cudagl` is not ready yet, I'm hearing it should happen soon though.

[2020-08-29 21:11] lgritz commented on #69
@ee33 Can you hook us up with somebody who can advise on how to create a docker container with OptiX installed, for future CI of OSL (and probably other projects eventually)?

[2020-08-30 11:35] aloysbaillet commented on #54
Hi again!
Here's a picture of what is currently happening, and a proposed change in which `aswf/ci-ocio` still gets a version of `ci-package-liboiio` which does *not* include any traces of OpenColorIO... This is basically maintaining the current situation so that the OpenColorIO builds are clean of any previous (or future) version of OpenColorIO itself!
I am assuming that the OpenColorIO builds ar

[2020-08-30 17:25] lgritz commented on #54
I really hope somebody can get the time soon on the OCIO side soon to break the dependency cycle. One way is to not use OIIO at all and just rely on https://github.com/syoyo/tinyexr on the OCIO side (with the extremely minor limitation of only supporting flat OpenEXR files for baked LUTs, so what?). Another strategy is to rewrite the couple of OCIO utilities that need OIIO in python, which would e

[2020-09-04 20:39] ee33 commented on #69
Yes.  Docker (as of 19.03, I'm told) can run programs linked with OptiX -- but to compile, you need to be able to download the headers.  I will inquire.

[2020-09-09 23:15] aloysbaillet commented on #63
Cross-linking with the corresponding NVidia issue: https://gitlab.com/nvidia/container-images/cuda/-/issues/90 images are coming soon!

[2020-09-10 02:36] adamlichtl commented on #63
Thanks for the update!

[2020-09-12 00:18] jfpanisset commented on #70
The VFX Platform 2021 now specifies versions of Visual Studio and Windows SDK, and I think it would be useful to have Windows build containers. One thing that got lost in the transition of ASWF projects from Azure Pipelines to GitHub Actions is that currently GHA does not support "build inside a container" on Windows runners, hopefully that will show up at some point.

I believe that any submissio

[2020-09-18 21:18] amyspark opened #73 "Compiling against LLVM fails with Clang on CY < 2021 and C++ >= 17"
Hi,

This is a report against the `aswf/ci-vfxall` images for CY 2019 and 2020.

These images provide, along with Clang, LLVM v7.0.1 static libraries. However, it is not possible to compile applications that link against them under the following circumstances:

- Using `clang++` as the compiler
- Targeting C++17 or higher
- Using GNU's Glibc as the STL implementation (ie. `-stdlib=libstdc++`, whic

[2020-09-18 22:19] lgritz commented on #73
Isn't the problem that you are using -std=gnu++17 but the VFX Platform 2019 and 2020 toolchain are explicitly C++14 and not 17?

I think if you want C++17, you should be targeting the 2021 docker images, which are gcc9/clang10.

[2020-09-19 19:54] amyspark commented on #73
Oh, I hadn't seen that they were C++14 explicitly (it's the very last item in the feature support table, though).
I did not notice it earlier because compilation works with GCC in those images, just not with Clang.

[2020-09-19 19:54] #73 closed

[2020-09-19 22:19] aloysbaillet commented on #73
Hi @amyspark , thanks for reporting the issue!
We do use C++17 with clang-10 and gcc-6.3.1 in some limited cases at Animal Logic, but we have to avoid any newer standard library features which would clash in a similar way that you are describing...
That said we could definitely state the recommended C++ version in more prominent ways to avoid the confusion in the future.

[2020-09-23 07:28] KelSolaar opened #75 "OCIO VFX Platform 2020 Containers with Python 3"
Hello,

I was looking at the current container definitions in the hope to use them for the OpenColorIO-Config-ACES repo but I see that the definitions are for Python 2.7 and VFX Platform 2019:

https://github.com/AcademySoftwareFoundation/aswf-docker/blob/master/ci-ocio/Dockerfile#L6

https://github.com/AcademySoftwareFoundation/aswf-docker/blob/master/ci-ocio/Dockerfile#L22

Even looking at what

[2020-09-24 21:58] danrbailey opened #77 "Create new ci-openvdb and ci-osl Clang variants"
The OpenVDB and OSL projects would like containers with different versions of LLVM/Clang installed than the default.

ci-openvdb would like LLVM 6 -> 10 and ci-osl would like LLVM 7 -> 10.

The pre-compiled binaries published by LLVM have GLIBCXX_USE_CXX11_ABI=1 which make them incompatible with other dependencies in the ASWF docker containers.

@aloysbaillet proposes the following for OpenVDB:

a

[2020-09-24 22:08] aloysbaillet commented on #77
Thanks @danrbailey  and @lgritz , would you need every single VFX year for the dependencies, or can we elect 2019 and 2021 as a base for the matrix explosion?
To simplify, if that's OK with you, I think the complete set of images could be the following:
[code]
which would serve as bases for these:
[code]

[2020-09-25 05:48] lgritz commented on #77
I think something like that would be fine. As long as all the releases are available *somewhere*, roughly in the year that they were introduced or in common use, we'll be ok.

[2020-09-25 18:33] danrbailey commented on #77
Yes, I think that would be fine for us too, we don't need every VFX year.

[2020-09-27 10:51] aloysbaillet commented on #77
Thanks, I've started looking at how to make this happen, stay tuned.

[2020-10-11 06:52] moddyz opened #79 "[README] "most most" typo"
Minor - in the table under the CI Images section, the descriptions of the ci-base images contain "most most" which looks like a typo.

[2020-10-11 19:06] moddyz opened #80 "[python/README] User instruction for installing aswfdocker tool needs update"
The setup.py mentioned in the user installation instruction resides at the root of the repository, and not under the python/ subdir.

[2020-10-14 12:10] Idclip commented on #77
Linking PR https://github.com/AcademySoftwareFoundation/aswf-docker/pull/78 here. It would be great if we can bump the clang7 container to use 7.1.0 (https://github.com/AcademySoftwareFoundation/aswf-docker/pull/78#issuecomment-707061127).

Also, were you planning to add vfxall images with these clang variants? Thanks

[2020-10-15 10:36] aloysbaillet commented on #77
I've built the following image with clang7.1: aswftesting/ci-openvdb:2019-clang7.6 (the last ".6" is optional). If it works well I'll put another PR out for the 7.0.1->7.1.0 upgrade!

[2020-10-15 12:34] Idclip commented on #77
Looks like this passed!

https://github.com/Idclip/openvdb/runs/1258857215?check_suite_focus=true
and on the aswftesting/ci-openvdb:2019 package too:
https://github.com/Idclip/openvdb/runs/1258857186?check_suite_focus=true

Thanks a lot @aloysbaillet :)

[2020-10-16 03:03] #77 closed

[2020-10-16 10:23] rlei-weta opened #82 "[Linux images] PS1 with current working dir"
This is a feature request :)

Would it be reasonable to build the linux images such that the bash PS1 env var includes the (absolute) current working dir?

Something basic like:
[code]
Would help wonders when interactively running the image using bash.

Thanks!!

[2020-10-18 00:15] #79 closed

[2020-10-18 00:15] #80 closed

[2020-10-20 11:12] Idclip opened #86 "vfxall clang containers not picking up correct clang version"
I've tried to switch to the new vfxall clang variants in some CI but I only seem to be picking up clang7. I'm getting the correct version of clang in the equivalent openvdb images. For example:

`aswf/ci-vfxall:2019-clang8`: https://github.com/Idclip/openvdb/runs/1280431746?check_suite_focus=true
`ASWF_VERSION=2019-clang8.10`
`CLANG_MAJOR_VERSION=7`
picks up clang7, I expect clang8. I've tested fo

[2020-10-20 12:00] aloysbaillet commented on #86
Hi Nick, sorry looks like I forgot something in the `vfxall` Dockerfile that explains the problem! I'll put a PR up tomorrow to fix it!

[2020-10-20 12:28] Idclip commented on #86
No worries, thanks @aloysbaillet!

[2020-10-21 20:30] #86 closed

[2020-11-08 22:02] #29 closed

[2020-11-08 22:02] #63 closed

[2020-11-09 03:21] aloysbaillet commented on #75
Hi Thomas!
The 2021 images definitely uses python-3.7. The `ARG PYTHON_VERSION=2.7` is just the default value of the argument, if you look a few lines below you'll see the actual value used `ENV PYTHONPATH=/usr/local/lib/python3.7...`.
I've just updated our image build process to add a templated `README.md` file and upload it to the image overview on dockerhub, see this test example: https://hub.d

[2020-11-09 05:31] KelSolaar commented on #75
Yes, I saw (and used) that, I forgot to close the issue :)

Thank you!

[2020-11-09 05:31] #75 closed

[2020-11-09 06:26] aloysbaillet commented on #69
Hi @lgritz , I'd be happy to try and download the optix headers inside the one of the docker images if you still want this. Can you point me to the place where you've been doing it?

[2020-11-09 06:43] lgritz commented on #69
I've got it working and it's just a few short downloads. Maybe it's not worth putting in the Docker images because it doesn't really save any appreciable time (compared to a build of a big package, say) and it limits flexibility of being able to change which version I download (or have multiple tests with different versions).

But if you're curious, the download code is here: https://github.com/im

[2020-11-09 06:44] lgritz commented on #69
We can close this issue if you want; I've got things working just fine on my end.

[2020-11-13 01:22] aloysbaillet commented on #69
Thanks Larry, closing for now, but we could consider having a script to download optix built-in the images as well.

[2020-11-13 01:22] #69 closed

[2020-12-13 02:07] christian-korneck opened #99 "[question] EL7 sunset - plans to use EL8 base?"
just as a question (not meant as a request): `aswf-docker` is currently based on a centos 7 base image. As centos 7's regular support ends August 2021 and goes into (limited) maintenance until 2024: Is there any concrete plan or schedule to switch to an EL 8 based base image? (Wouldn't assume short term?). Also would such a switch happen for/as part of an upcoming CY or independently from the CY s

[2020-12-15 06:14] aloysbaillet commented on #99
Hi @christian-korneck , it might be a bit early to pull the trigger on CentOS, the Stream version as explained there https://freedomben.medium.com/centos-is-not-dead-please-stop-saying-it-is-at-least-until-you-read-this-4b26b5c44877 could actually be a good idea for studios.

One issue with this though is that we probably want to build our packages on the oldest centos packages to ensure binary co

[2020-12-15 10:03] christian-korneck commented on #99
@aloysbaillet thanks for your answer. Actually my question is **not** related to the announcement that CentOS is shifting focus to CentOS Stream.

My question is: As EL **7** will transition into the _maintenance_ support phase in about half a year (which is usually a good time to start migrating away from it as i.e. there’s no attention anymore on adding support for new hardware), I was curious a

[2020-12-31 14:42] mjirou opened #101 "[question] Where is download-package.sh ?"
I haven't been able to find the download-package.sh script mentioned in README.md

[2020-12-31 16:19] mjirou commented on #101
maybe it's related to python download_package method in python/aswfdocker/utils.py ?

[2020-12-31 21:21] aloysbaillet commented on #101
Hi! You're correct, I forgot to update the readme, the new way to download packages is to use the `aswfdocker download` commands line.
Happy New Year 2021!

[2021-01-04 08:37] mjirou commented on #101
Bonne annee 2021 - Happy New Year 2021

[2021-01-04 08:37] #101 closed

[2021-01-15 10:14] glevner opened #103 "Qt5Gui CMake config error"
Re: VFX Platform 2020, Qt 5.12.6.

The <tt>Qt5GuiConfigExtras.cmake</tt> file generated by aswf-docker looks for <tt>libGL.so</tt> in <tt>/usr/local/lib64</tt>. So if you try to build an executable or library based on Qt5Gui on a host where the library is installed in <tt>/usr/lib64</tt>, for example, cmake configuration fails.

An easy kludge would be to patch the cmake file, replacing <tt>/usr/l

[2021-01-15 16:46] glevner commented on #103
The problem persists in Qt 5.12.10.

[2021-01-18 16:10] glevner commented on #103
This isn't pretty, but the following patch to <tt>build_qt.sh</tt> fixes the problem for us:

[code]

[2021-02-03 10:50] agcty opened #106 "Using aswf/ci-ocio:2021 to build ocio and run ociocheck results in "libOpenColorIO.so.2.0: cannot open shared object file""
Hello! I've been trying to figure out how to build ocio in one stage and then use it in another. What I'm trying to achieve ultimately is to use ocioconvert & ociocheck as a subprocess in python. However, this always throws this error: `libOpenColorIO.so.2.0: cannot open shared object file: No such file or directory`

My Dockerfile looks like this:

[code]

but when running `docker buildx build --

[2021-02-03 11:26] aloysbaillet commented on #106
Hi Alex,
Have you tried the `aswf/ci-vfxall` image which already contains OpenColorIO?

[2021-02-03 12:37] agcty commented on #106
That did the trick, thank you!

[2021-02-03 12:37] #106 closed

[2021-03-14 15:26] #99 closed

[2021-04-28 20:50] aloysbaillet opened #112 "Add QtWayland in CI Images"
Mentioned in ASWF ci-wg channel.

[2021-05-02 02:08] lgritz commented on #54
Pinging this idle ticket. It would be very helpful for OSL if the ci-osl containers were built to include OpenColorIO (early enough that the OIIO builds have it present).

[2021-05-05 11:15] aloysbaillet commented on #54
Adding OCIO to ci-osl is trivial. Happy to do that quickly. At this stage I would like to update the way packages are defined, potentially using spk to define them properly...

[2021-05-26 20:38] aloysbaillet opened #116 "Add MaterialX to ci-usd and ci-vfxall images"
Since MaterialX is now well integrated into USD it is time to update the ASWF docker images to include it!
MaterialX doesn't seem to bring any new dependency and should be fairly easy to build as its own package.

[2021-06-10 08:45] xlietz opened #117 "Sonar scans require newer version of builder wrapper"
Sonar scans are expecting a newer version of the build wrapper. Here is warning output from the most recent Sonar scan of the Imath repository:

" File  /__w/Imath/Imath/_build/bw_output/build-wrapper-dump.json
was generated using 6.16 build-wrapper version,
which does not match analyzer 6.21.0.32709 version.

Please download matching version from the server
https://sonarcloud.io/static/cpp/build-

[2021-06-19 04:13] aloysbaillet commented on #117
Thanks for the report @xlietz ! I'll upgrade to the sonar scanner v4.6.2.2472 and the latest build wrapper and re-release new CI images.

[2021-06-19 23:13] #117 closed

[2021-06-28 23:10] jfpanisset opened #120 "lib vs lib64 in containers"
Looking at the ci-vfxall image, it seems that most of the resulting DSOs end up in /usr/local/lib
but a few end up in /usr/local/lib64 (OpenGL, OIIO, Ptext, OSL).  On CentOS 7 systems:

32 bit DSOs: /lib -> /usr/lib
64 bit DSOs: /lib64 -> /usr/lib64

Since these containers are 64 bit only, would it make sense to have all DSOs land in /usr/local/lib64 ? Could always have a backwards compatibility l

[2021-06-28 23:34] aloysbaillet commented on #120
Hi JF,

Yep I noticed that inconsistency as well, but I'm basically just getting what cmake decided to do at install time... Some packages  are following centos' desire to put libs in lib64, and others just ignore that. And taking the time to post-process all package install procedures would take a bit of effort, and could break some packages in subtle ways (e.g. USD installs are not relocatable a

[2021-06-29 19:21] jfpanisset commented on #120
For the specific case of OpenImageIO, the CMake code that decides where to install the libraries seems to come from (or at least be related to):

https://github.com/OpenImageIO/oiio/blob/master/src/build-scripts/OpenImageIO.pc.in

where libdir is derived from [@CMAKE_INSTALL_LIBDIR@](https://cmake.org/cmake/help/latest/command/install.html?highlight=cmake_install_libdir) which claims to default to

[2021-06-29 19:51] lgritz commented on #120
The .pc.in is just a template for how it generates a pkgconfig file describing where things were put by the install. It doesn't determine any of the logic of where things are put.

[2021-06-29 19:53] lgritz commented on #120
I believe this is the key to understanding: https://cmake.org/cmake/help/latest/module/GNUInstallDirs.html

[2021-06-29 19:56] jfpanisset opened #121 "Compile own LibRaw for OIIO?"
OpenImageIO's oiiotool builds and links against LibRaw: since the base image for the ASWF containers is nvidia/cudalgl:${ASWF_CUDA_VERSION}-devel-centos7 that brings a recent version of CentOS 7, in the build I'm looking at CentOS 7.8 which installs `LibRaw-0.19.4-1.el7.x86_64.rpm`

Thus `/usr/local/bin/oiiotool` has an explicit dependency on a system installed libraw 0.19 DSO:

[code]

Unfortunat

[2021-08-03 21:26] jfpanisset opened #123 "Improvements to individual README.mds?"
Currently the jinja2 template which generates the README.md for each container lists "packages + implicitpackages" as one undifferentiated list. Would it make sense to explicitly separate the list of what comes from this specific container build vs what comes from the lower level containers it derives from?

On a related note (and I may be misunderstanding the nature of the hierarchy), the package

[2021-08-15 01:53] lgritz opened #124 "Please add tbb and openvdb to the ci-osl images"
These are optional dependencies for OSL, but it would be very helpful to have them present in the ci-osl images so that we can test against them.

[2021-09-03 19:05] hodoulp opened #125 "For CY2022, the corresponding ocio-ci images must now have OSL installed"
For the ocio-ci images dedicated for CY2022, here are few improvements:

- Add OpenShadingLanguage library (OSL) v1.11.15.0
- Remove tbb
- Remove boost

[2021-09-04 04:13] aloysbaillet commented on #125
Hi @hodoulp , unfortunately the the current system doesn't nicely support having different requirements for different years... Adding that capability is in progress in the Conan branch, but that branch is far from ready.

That said I'd be happy to update the OCIO requirements and only release the new 2022 images with these changes, and not release the updates for years 2019-2021, but I some of the

[2021-09-04 12:11] hodoulp commented on #125
You can add OSL to the requirement list for the OCIO images, only release CY2022 and that's will be acceptable.

Note: To be consistent for the other images, I do not know what should be the OSL version for the older OCIO images. But that's clearly not an issue for OCIO as only CY2022 will use OSL.

[2021-09-04 14:23] hodoulp opened #127 "Installation of aswf-docker - yaml issue"
To use the ASWF docker images, I installed the `aswf-docker` utility following the steps explained [here](https://github.com/AcademySoftwareFoundation/aswf-docker/blob/master/python/README.md). Even if it successfully installs the tool, it reports an error around `yaml`:

1. git clone https://github.com/AcademySoftwareFoundation/aswf-docker
2. cd aswf-docker
3. python3 setup.py install

The instal

[2021-09-04 14:55] hodoulp opened #128 "Creating image for OSL 2022 using aswf-docker - pugixml & pybind11 are missing"
When creating an image for OSL using the command `aswfdocker build -n aswftesting/ci-osl:2022-clang11.7`, the image does not contain the `pugixml` and `pybind11` libraries.

@aloysbaillet @lgritz I report that point not knowing if that's a bug or that was done on purpose. Please close the issue if that's not a bug.

[2021-09-04 16:02] lgritz commented on #128
OSL itself just downloads those on demand if not found, and both are tiny source packages that build in a few seconds, so I just never pressed the issue about having them in the docker images. The things that are important for me in docker are the ones that if missing will cause me to chew up 10 minutes of Actions time to build from scratch.

That said, they are dependencies and I would certainly

[2021-09-05 05:41] aloysbaillet commented on #128
Happy to add pybind11 in ci-ocio, but I don't have a package ready for pugixml though (and I cheat by using OSL's own `build_pugixml.bash` script to build the OSL package...)
I could also add pybind11 for `ci-osl` if you want @lgritz ?

[2021-09-05 05:42] aloysbaillet commented on #125
Thanks I'll do that: just add OSL and not remove tbb/boost just yet!

[2021-09-05 05:55] aloysbaillet commented on #127
Looks like an wheel/pyyaml issue: https://github.com/aws/aws-cli/issues/4243
Upgrading the packages should fix that. I was planning on upgrading to python 3.9 soon so hopefully that will fix that issue.
Did you try with pipenv?
Also, you can now run `pip install aswfdocker` but I've only tested it on windows and linux, not macs...

[2021-09-05 11:33] aloysbaillet commented on #128
It seems that OIIO also brings pugixml along:
[code]
And the newly pushed `aswfesting/ci-ocio:2022` now properly contains pybind11.

[2021-09-05 20:01] lgritz commented on #128
I don't have strong preferences. My CI tests a lot of different versions of everything. I use what's in the ASWF docker when it happens to align with a set of versions I need to test, but for a significant part of the test matrix, I have to rebuild certain things from scratch. For a tiny package like pugixml or pybind11, getting from the docker container, in the subset of cases where it's even the

[2021-09-05 21:53] #124 closed

[2021-09-05 21:53] #125 closed

[2021-09-08 08:19] aloysbaillet commented on #128
New `aswfesting/ci-ocio:2022.1` should now be complete!

[2021-09-08 08:19] #128 closed

[2021-10-09 06:18] lgritz opened #130 "New LLVM/clang versions soon?"
If I understand https://hub.docker.com/r/aswf/ci-osl/tags?name=2019 correctly, there are a number of osl-2019 containers with differing clang versions -- 7, 8, 9, 10?

But osl-2020 only has clang7, I think.  https://hub.docker.com/r/aswf/ci-osl/tags?name=2020

OSL is thinking of bumping our minimum LLVM requirement from 7 to 9. Looks like we can bump our VFX Platform 2019 tests to llvm9, but we wo

[2021-10-25 15:26] Idclip opened #134 "Add GTest to OpenVDB images"
Hi all,

VDB switch _some_ of its unit tests over to gtest a while ago with the minimum supported gtest version being ~~1.8.X~~ 1.10.X. It would be great if this could be added to the openvdb images.

Thanks!

[2021-10-27 17:13] Idclip opened #135 "Add LLVM_SYMBOLIZER to base images"
We use various clang sanitizers in OpenVDB's CI. The address sanitizer requires the `llvm_symbolizer` binary to create proper reports. It would be awesome if this could be built and provided as part of the base images!

[2021-10-30 04:01] aloysbaillet commented on #135
That should be easy indeed, I'm working on rebuilding clang soon I'll let you know!

[2021-11-01 00:24] jfpanisset opened #137 "Update to OpenVDB 9.0.0 for VFX Platform 2022"
OpenVDB 9.0.0 has realeased in time for inclusion in VFX Platform 2022, versions.yml should be updated from 8.1.0 to 9.0.0:

https://github.com/AcademySoftwareFoundation/openvdb/releases/tag/v9.0.0

[2021-11-12 22:05] aloysbaillet commented on #130
I started adding llvm 12 and 13, and as mentioned found that both require python 3 to be present at build time, worked around that locally but then found that llvm-13 fails to build with gcc-9 complaining about a destructor that is constexpr. It seems that llvm-13 does not support gcc-9, and there won't be a way to have it working while we stick to devtoolset-9!
See https://www.mail-archive.com/ll

[2021-11-13 00:05] lgritz commented on #130
This code that doesn't build with gcc9 seems to be in libc++, which is part of the llvm suite, but is not the core llvm library itself. Is it possible that we can disable just the building of libc++ (which I think none of our projects depend on), and build the rest of llvm/clang?

You could build gcc11 (I need to test against that, too, because that's what people use when they are not beholden to

[2021-11-13 00:11] lgritz commented on #130
Just in terms of my own priorities... Being able to test against llvm 13 is less important to me than being able to drop support for llvm 7 & 8.

So "llvm 9 on 2020" + "llvm 12 on 2022" would be enough keep me quiet for a while. The need to have 13 available is not urgent and can wait if it looks like a burden.

[2021-11-13 01:45] aloysbaillet commented on #130
Sounds good, thanks! I'll try to skip libc++ and get 12 out soon.

[2021-11-15 23:52] aloysbaillet commented on #130
Looks like the issue was closed automatically, but I've just released aswftesting images with clang 12 and 13 today: `aswftesting/ci-osl:2022-clang12` and `aswftesting/ci-osl:2022-clang13` are now ready to try. ​

The cool thing is that with these new images you can now install any clang version anywhere using conan.
I need to update the docs, but here's a quick primer if you want to give it a go:

[2021-11-15 23:59] lgritz commented on #130
Sorry, being dense here as a conan noob.

Does that build clang 13, or does that install a pre-built version?

[2021-11-16 00:00] aloysbaillet commented on #130
To clarify: the `conan install .` will download a prebuild version of clang if it is found for the current "settings" (which it should be if you run from a aswfdocker image!)

[2021-11-16 00:01] aloysbaillet commented on #130
Should come directly from https://linuxfoundation.jfrog.io/ui/repos/tree/General/aswf-conan%2Faswf%2Fclang%2F13.0.0%2Fci_common2

[2021-11-16 04:22] aloysbaillet commented on #130
Would you be OK with using the `aswftesting` images for a little bit and let me know if you find any regression with them, if you don't find any I'll update the `aswf` images this weekend. With a good changelog and simple conan docs...

[2021-11-16 04:33] lgritz commented on #130
Yeah, I'll give it a try.

[2021-11-16 05:24] lgritz commented on #130
Does this ring a bell?

[code]

How do I know which versions of clang I can ask for?

[2021-11-16 05:32] aloysbaillet commented on #130
clang-9 is only in `ci_common1` sorry !
`clang/9.0.1@aswftesting/ci_common1` should work

[2021-11-16 05:32] aloysbaillet commented on #130
the "ci_common" label is the low-level part of the VFX platform that doesn't change every year, mostly the devtoolset version on linux!

[2021-11-16 05:36] aloysbaillet commented on #130
The https://linuxfoundation.jfrog.io/ui/repos/tree/General/aswf-conan%2Faswf%2Fclang url should point to the clang packages but it seems there's a redirection to a search page, you can search clang on the website and find all possible versions there.

[2021-11-16 05:59] lgritz commented on #130
I see that I can search for clang, it shows me a whole lot of versions, but I'm not sure how I can detect common1 vs common2, etc.

But in any case, testing clang/9.0.1@aswftesting/ci_common1 now, will report back soon.

[2021-11-16 06:42] aloysbaillet commented on #130
A bit disapointing that I can't send you a direct link, but you should be able to navigate to this in the Artifacts section:
![image](https://user-images.githubusercontent.com/6226620/141934660-858d93d0-84ff-4674-bbfc-bc68f59c83c9.png)

[2021-11-16 06:45] aloysbaillet commented on #130
You can also add this section to the `conanfile.txt`:
[code]
which will generate a `activate.sh` file to set up the PATH and LD_LIBRARY_PATH for you

[2021-11-16 06:51] aloysbaillet commented on #130
Actually there's an easier way that doesn't require a `conanfile.txt`:
[code]

[2021-11-16 07:20] aloysbaillet commented on #130
FYI that single command line approach works well if you only have one package to install in one folder, but it doesn't like multiple packages unfortunately.

[2021-11-16 19:27] lgritz commented on #130
I was just coming back here to report that the conanfile technique worked, and I was able to use llvm 9.0.1 on the 2020 image (yay! that clears the way for me to phase out llvm 7 & 8). I'll try your new technique as well, that's even simpler.

[2021-11-16 21:13] aloysbaillet commented on #130
Great to hear!
I'll do a quick pass at updating some 2022 versions and release the `aswf` images shortly then!

[2021-11-16 21:20] lgritz commented on #130
Is the only difference between aswftesting and aswf docker containers just that aswftesting has new features a few days or weeks earlier than they are pushed to aswf, but then at all other times they are identical?

Should I just use aswftesting all the time for my projects so that I can identify any issues immediately, and then I don't have to do anything special or go to any extra effort to test

[2021-11-16 21:30] aloysbaillet commented on #130
I don't currently guarantee that the aswftesting images are all released identically to aswf at this stage, but as I need to do a big batch of releases for the conan work I could start guaranteeing this... Also aswftesting could break easily next time I try something else :)
If you're OK with staying on the bleeding edge then that could be a nice way to introduce new features and get more testing

[2021-11-16 23:33] aloysbaillet commented on #135
New aswftesting images have been released and have the symbolizer built, would you be OK to try them? You can also now install any clang you wish using this technique: https://github.com/AcademySoftwareFoundation/aswf-docker/issues/130#issuecomment-969929080

[2021-11-17 00:05] lgritz commented on #130
Yeah, so either I stay on aswf but have to take the time to do some custom test runs with aswftesting when you have new things to roll out, or I stay on aswftesting and don't have to do anything special to let you know about problems (but take the chance that occasionally you may break something). I think it's a fair trade. I can always "downgrade" to aswf if something is broken in aswftesting, or

[2021-11-17 00:24] aloysbaillet commented on #130
Seems fair indeed :)
I'll make sure that I always update aswftesting first, as I have skipped it occasionally in the past for trivial updates!

[2021-11-20 07:20] aloysbaillet commented on #134
I've added gtest (as a conan package but that should be completely transparent to you) to the following images:
- aswftesting/ci-openvdb:2022-clang10
- aswftesting/ci-openvdb:2022-clang11
- aswftesting/ci-openvdb:2022-clang12
- aswftesting/ci-openvdb:2022-clang13
If you want to test them before I publish the `aswf` images that would be great!

[2021-11-20 23:15] #134 closed

[2021-11-20 23:15] #137 closed

[2021-11-22 00:15] boberfly opened #148 "Add Vulkan SDK eg. to build Qt Vulkan support"
Adding to Qt won't interfere with the host machine if Vulkan is not available (it dynamically loads the symbols at runtime), but it needs the SDK present to build the code needed to create a Vulkan context.

This may also open up future uses of Vulkan eg. for USD hdStorm or OpenSubdiv once they support Vulkan.

[2021-11-23 05:38] aloysbaillet commented on #135
All aswf images should now have llvm_symbolizer.

[2021-11-23 05:38] #135 closed

[2021-11-23 05:40] aloysbaillet commented on #127
Latest version of aswfdocker on PyPi might be worth another try as I upgraded quite a few dependencies

[2021-11-23 05:44] aloysbaillet commented on #70
Unfortunately I don't think we can make windows containers available for licensing reasons. See https://github.com/conan-io/conan-docker-tools/blob/master/msvc_15/Dockerfile as an example of windows docker recipe that works but cannot be redistributer...
That said I'll start looking soon at building windows conan packages for all the linux packages we already have, and this means you should be abl

[2021-11-23 20:52] jfpanisset commented on #70
The [MICROSOFT SOFTWARE SUPPLEMENTAL LICENSE FOR WINDOWS CONTAINER BASE IMAGE](https://docs.microsoft.com/en-us/virtualization/windowscontainers/images-eula) discusses at length the need for a valid license for the OS running the container (which a GHA Windows runner would have), but I've yet to find an unambiguous reference to the specific case of hosting / redistributing a container image where

[2021-11-23 21:06] jfpanisset commented on #70
Looking at [How We Cut Our Docker Push Time by 90%](https://dzone.com/articles/how-we-cut-our-docker-push-time-by-90), it seems it may be possible to only push the additional layers to the repository without having to copy the base image (with further possible complication since WIndows Container Base Images now live on mcr.microsoft.com). That wouldn't help to deal with a layer containing the MSV

[2021-11-23 21:50] darkvertex commented on #70
Hell, even if you don't provide the nicely tagged prebuilt Windows Docker images, if there's a good Dockerfile that one can "docker build" and "it just works", that'd already be a huge improvement over _nothingness_. 🤷‍♂️

Then everyone at their own studio can just build it locally and push it to their studio's own private Docker image registry.

[2021-11-24 14:44] Idclip commented on #135
@aloysbaillet confirmed! Works like a charm, thanks a lot

[2021-11-24 20:40] aloysbaillet commented on #135
Great to hear, thanks Nick!

[2021-12-05 00:14] aloysbaillet commented on #70
I've started https://github.com/AcademySoftwareFoundation/aswf-docker/pull/149 with a working Dockerfile on windows that can already build some conan packages.
Now we need to test and build more conan windows packages!

[2022-02-13 22:27] jfpanisset opened #150 "Rename master to main"
As per ASWF guidance, master branch should be renamed to main. Local branches will need to:

[code]

[2022-02-13 22:30] jfpanisset opened #151 "Update CY2022 to OpenEXR 3.1.4"
CY2022 currently points to OpenEXR 3.1.3, it should be updated to point to recently released 3.1.4:

[OpenEXR Release 3.1.4](https://github.com/AcademySoftwareFoundation/openexr/releases/tag/v3.1.4)

[2022-04-30 22:08] #130 closed

[2022-06-07 07:31] #116 closed

[2022-06-07 07:31] #151 closed

[2022-07-21 15:09] grimjak commented on #54
Apologies for resurrecting this after so long but I'm going through this at the moment and wanted to share our approach to see if I'm missing anything.  Currently I've modified the vfx1 dockerfile.  The build steps are as follows:

- build oiio with build tools off and the install prefix set to ${ASWF_INSTALL_PREFIX}/oiiotemp
- build ocio, this picks up the above then removes ${ASWF_INSTALL_PREFIX

[2022-07-25 14:27] glevner opened #155 "install packages to a different root directory"
We need to install packages to a directory other than `/usr/local`, because we need to be able to access multiple VFX reference platforms without having to switch between different Docker images.

The shell scripts that build each package allow you to specify any location you want, which is a good start. But adapting the Dockerfiles to build and install **all** the packages to a different location

[2022-07-25 14:38] aloysbaillet commented on #155
You can use the Conan packages to install the available packages anywhere. Building multiple parallel VFX platforms in the same image would be very hard without Conan. Unfortunately not all VFX packages are available yet in Conan.

[2022-07-26 09:44] glevner commented on #155
Thanks for that, Aloys. When you say "the Conan packages", do you mean one can use the Conan recipes provided by ASWF to do this? Or do you mean to use packages from Conan Center?

[2022-08-02 19:30] Idclip opened #156 "OpenVDB blosc version update"
Hi all,

Could we please get all the OpenVDB images updated to use Blosc 1.17.0 (bumped from the current 1.5.0)?

Thanks!

Nick

[2022-08-11 06:55] bfloch opened #157 "Change MaterialX to shared libs"
Found this in `ci-vfxall_2022`.

Currently MaterialX seems to be build as static lib, which does not end up in `/usr/local/lib`.

It will however leave traces in `pxrTargets.cmake`, for example:
[code]

This causes subsequent builds that use the cmake config to try to link against it.

I wonder if we should rather move to shader libs, or at least provide the static libraries.

[2022-10-04 03:56] bfloch opened #159 "Broken library symlinks in ci-vfxall:2022"
It seems that these libraries have invalid symlinks:
[code]
If you cat them they reveal something along:
[code]
At least I assume this is unexpected as it makes cmake find scripts fail.

I haven't checked if other images are affected.

[2022-10-04 08:29] bfloch opened #160 "/usr/local/bin/pip3 has invalid shebang"
I noticed that `/usr/local/bin/pip3` from `aswf/ci-usd:2022` has the following shebang:
[code]
As such if fails to run after the build:
[code]

[2022-10-04 08:43] bfloch commented on #159
Temporary CMake workaround in case TBB is not being picked up:
[code]

[2022-10-04 10:23] aloysbaillet commented on #159
Thanks Blazej! I'll have a look at these, I'm surprised the build succeeded with those bad symlinks!

[2022-10-04 19:56] bfloch commented on #159
Indeed. Right not I am just poking at the docker images and try to hook a custom USD development build which exposes some of these problems. I know that the docker images are advertised as not being made for any production use-case, but I hope that we gain from fixing some oversights that are - for whatever reason - not as apparent in the CI builds.

There may be more to come. Sorry I can not offe

[2022-10-04 21:53] bfloch commented on #157
The related crash might be fixed with the shared build.

Sadly, this option was added in 1.38.3 according to:
https://github.com/AcademySoftwareFoundation/MaterialX/releases/tag/v1.38.3

And the XML Reader API changed in that version, I believe as such it requires USD 22.08 and MaterialX >1.38.3.

[2022-10-07 16:43] Idclip commented on #156
Bump!

[2022-10-10 05:36] aloysbaillet commented on #156
Hi Nick, thanks for the bump and sorry about the delay!
I'll try to do an update pass next weekend.

[2022-10-23 01:48] aloysbaillet commented on #156
I was going to just update blosc in VFX 2022 images. I usually only update patch versions in past VFX years. Is that OK?
(re-releasing previous years' images is possible but both a lot more work and strange as these are supposed to help test backward compatibility with older versions of dependencies).

[2022-10-26 11:21] Idclip commented on #156
Hey @aloysbaillet, yeah that makes sense and should be fine! Thanks